.dot {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  .time-section-left{
    font-size: 12px !important;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box2-tab1{
    /* border: 1px solid; */
    padding: 17px;
    border-radius: 13px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }